<div class="container-principal">
    <div class="inner-container">
        <div class="content-container">
            <div class="title-container">
                <div class="title">Tranquilidad para tu sonrisa. Experta en cuidado dental. </div>
                <div class="spacer"></div>
                <div class="sub-title">Dentista de confianza</div>
                <div class="sub-title">en Chicureo</div>
                <div class="title">Sonrisas sanas y seguras. </div>
                
            </div>
            <div class="contact-container">
                <div class="contact-info">
                    <div class="phone-box">
                        <div type="button" class="phone-number">(569) 900408203</div>
                    </div>
                </div>
            </div>
        </div>
        <img class="image" src="assets/images/home.jpeg" alt="Placeholder Image" />
    </div>
</div>

<app-page1></app-page1>