.aboutImage {
    max-width: 100%;
    height: auto;
    border-radius: 1.875rem; /* 30px / 16px (tamaño de fuente raíz) */
}

.imageCarousel {
    width: 31.25rem; /* 500px / 16px (tamaño de fuente raíz) */
    height: auto;
}
