.aboutImage {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}


.imageCarousel {

    width: 500px; /* Nuevo ancho deseado para la imagen */
    height: auto; 
      
  }


  .logo img {
    /* width: 240px; */
    height: 90px;
    position: relative;
    
}