
<div name="about" class="w-100 px-5 pt-5 bg-white">

  <div class="d-flex justify-content-center mx-auto h-full">
    <div class="titulo">Sobre mí</div>
  </div>

  <div class="container text-center mb-5 w-50" [ngClass]="{ 'w-100' :  serv.calcularAnchoPagina() < 1300 }">
    <div class="row" [ngClass]="{ 'mt-5' :  serv.calcularAnchoPagina() >= 1300 }">
      <div class="col-12 mb-3" *ngIf="  serv.calcularAnchoPagina() < 1300 ; else aboutMobile  ">
        <img class="aboutImage" src="assets/images/about2.jpg" alt="Placeholder Image" />
      </div>
      <div class="col-12 col-lg-6 text-start">
        Soy Cirujana Dentista de la Universidad de Concepción (2006) (distinción máxima) y Especialista en <b>Ortodoncia y Ortopedia Dentomaxilo Facial</b> de la Universidad de Chile (2015) (distinción máxima).
        <br><br>
        Cuento con <b>18 años de experiencia clínica</b> en servicios públicos y privados, realizando tratamientos complejos de ortodoncia y ortopedia maxilofacial.
        <br><br>
        Me especializo en todo tipo de tratamientos de <b>ortodoncia y ortopedia, en particular, ortodoncia interceptiva, metálica, cerámica e invisalign</b>, éste último mediante alineadores invisibles y personalizados. Del mismo modo, realizo tratamientos de ortopedia tales como <b>disyunción palatina, máscaras de tracción, aparatos de avance mandibular y tratamientos complementarios con microtornillos.</b>
        <br><br>
        Mi objetivo fundamental es que mis pacientes tengan una <b>atención cercana, cálida y personalizada</b> y que, en definitiva, logren un cambio único en su vida mediante técnicas clínicas de ortodoncia avanzada.
        Tengo <b>experiencia en niños con y sin necesidades especiales.</b>
        
      </div>
      <ng-template #aboutMobile>
        <div class="col-6">
          <img class="aboutImage" src="assets/images/about2.jpg" alt="Placeholder Image" />
        </div>
      </ng-template>
    </div>
  </div>



</div>


<!-- TODO FORMACION --><!-- <div class="container text-center my-3 w-25">
        <div class="row">
            <div class="col-12">
                <h1>Formación</h1>
            </div>
        </div>
    </div> -->


<div name="rating" class="w-100 backgroundPiel" [ngClass]="{ 'p-5' : serv.calcularAnchoPagina() >= 1300  }">

  <div class="container py-3 w-50" [ngClass]="{ 'w-100' : serv.calcularAnchoPagina() < 1300  }">
    <div class="row">
      <div class="col-12">

        <div class="d-flex justify-content-center h-full">
          <div class="mb-4 ms-2 text-start titulo me-5">Testimonios</div>
        </div>

      </div>




      <div class="col-12">

        <div class="d-flex justify-content-center mx-auto h-full">

          <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-pause="hover">
            <div class="carousel-inner">

              <div class="carousel-item active" data-bs-interval="10000">

                <div class="card mb-3">
                  <div class="row no-gutters">
                    <div class="col-md-4" *ngIf=" serv.calcularAnchoPagina() >= 1300 ">
                      <img src="assets/images/home.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <!-- <h5 class="card-title">Luz Duhalde</h5> -->
                        <div class="mb-3 mt-3">
                          <i class="fas fa-quote-left" style="float: left !important;"></i>
                          <br>
                          <p class="card-text text-center">Aqui la idea es que vayan recomendaciones de pacientes junto a fotos de ellos. 
                            Las fotos pueden ser opcionales ahora e ir agregandolas con el tiempo. </p>
                          <i class="fas fa-quote-right" style="float: right !important;"></i>
                        </div>
                        <br>
                        <p class="card-text text-center"><small class="text-muted">Luz Duhalde, 33 años.</small></p>

                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="carousel-item" data-bs-interval="20000">

                <div class="card mb-3">
                  <div class="row no-gutters">
                    <div class="col-md-4" *ngIf=" serv.calcularAnchoPagina() >= 1300 ">
                      <img src="assets/images/about.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Luz Duhalde, 33 años.</h5>
                        <p class="card-text text-center">Aqui la idea es que vayan recomendaciones de pacientes junto a fotos de ellos. 
                          Las fotos pueden ser opcional ahora e ir agregandolas con el tiempo. </p>
                        <p class="card-text"><small class="text-muted">Luz Duhalde, 33 años.</small></p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="carousel-item" data-bs-interval="10000">
                <div class="card mb-3">
                  <div class="row no-gutters">
                    <div class="col-md-4" *ngIf=" serv.calcularAnchoPagina() >= 1300 ">
                      <img src="assets/images/home.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <!-- <h5 class="card-title">Luz Duhalde</h5> -->
                        <div class="mb-3 mt-3">
                          <i class="fas fa-quote-left" style="float: left !important;"></i>
                          <br>
                          <p class="card-text text-center">Aqui la idea es que vayan recomendaciones de pacientes junto a fotos de ellos. 
                            Las fotos pueden ser opcional ahora e ir agregandolas con el tiempo. </p>
                          <i class="fas fa-quote-right" style="float: right !important;"></i>
                        </div>
                        <br>
                        <p class="card-text text-center"><small class="text-muted">Luz Duhalde, 33 años.</small></p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        </div>


      </div>


    </div>
  </div>


</div>


<div name="rating2" class="w-100 backgroundPiel" [ngClass]="{ 'p-5' : serv.calcularAnchoPagina() >= 1300  }">




</div>

<app-footer></app-footer>