<div class="spacer"></div>

<div name="about" class="w-100 px-5 bg-white font">

    <div class="d-flex justify-content-center mx-auto h-full">
        <div class="titulo">Sobre mí</div>
    </div>

    <div class="container text-center my-5 w-50">
        <div class="row">
            <div class="col-6 text-start">
                Mi nombre es <b>Luz Duhalde</b>, soy especialista en Ortodoncia y Ortodopedia Dentomáxilofacial.
                <br><br>

                Mi misión es diagnosticar y tratar todo tipo de maloclusiones dentarias y esqueléticas tanto en
                <b>niños</b> como en <b>adultos</b>. Las alternativas de tratamiento que recomiendo dependen de la edad
                del paciente, la complejidad de cada caso y las expectativas de cada paciente. Trabajo con todo tipos de
                aparatos de ortodoncia y principalmente, con alineadores invisibles.
                <br><br>
                En mi consulta tengo el escáner intraoral <b>iTero Element 5D</b> que permite tener el flujo digital
                completo para trabajar de la mejor manera con los alineadores invisibles. Además, nos entrega
                herramientas que permiten realizar detección de caries en etapas tempranas, evaluación del progreso del
                tratamiento de ortodoncia, al comparar el estado actual del paciente con su planificación digital y
                analizar los contactos entre los dientes.
            </div>
            <div class="col-6">
                <img class="aboutImage" src="assets/images/about.jpeg" alt="Placeholder Image" />
            </div>
        </div>
    </div>


    <!-- TODO FORMACION -->
    <!-- <div class="container text-center my-3 w-25">
        <div class="row">
            <div class="col-12">
                <h1>Formación</h1>
            </div>
        </div>
    </div> -->


    <div class="container text-center my-3 w-25">
        <div class="row">
            <div class="col-12">
                <h1>Testimonios</h1>

                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="assets/images/about.jpeg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="assets/images/home.jpeg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">

                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
                          
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>


            </div>
        </div>
    </div>
    


</div>


