<div class="container-principal navbar-sticky ">
    <nav class="inner-container container-fluid" >
        <div class="logo-container">
            <div class="logo" >
                <img src="https://via.placeholder.com/240x89" alt="Logo">
            </div>
        </div>
        <div class="other-container">
            <div class="nav-item-2">Acerca</div>
            <div class="nav-item-2">
                <div class="service">
                    <div class="service-name">Servicios</div>
                    <div class="service-count">3</div>
                </div>
            </div>
            <div class="nav-item-2">
                <div class="patients">
                    <div class="patients-name">Otros</div>
                    <div class="patients-count">3</div>
                </div>
            </div>
            <div class="contact-container">
                <div class="contact">
                    <div class="contact-number">(569) 900408203</div>
                </div>
            </div>
        </div>
    </nav>
</div>



