<div name="services" class="w-100 bg-white" [ngClass]="
{ 'px-0' : serv.calcularAnchoPagina() < 1000,
  'px-5' : serv.calcularAnchoPagina() >= 1000     }">

    <div class="container" [ngClass]="
    { 'px-0' : serv.calcularAnchoPagina() < 1000,
      'px-5' : serv.calcularAnchoPagina() >= 1000     }">
        <!-- Contact form-->
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 ">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i>
                </div>
                <h1 class="fw-bolder" style="color:#1BA2BB !important;">¡Queremos ayudarte a empezar!</h1>
                <p class="lead fw-normal text-muted mb-0" style="color:#1BA2BB !important;">Déjanos un mensaje y
                    cuéntanos cómo podemos ayudarte.</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-6">

                    <!-- [ngClass]=" { 'was-validated' : myForm?.submitted } " -->

                    <form id="contactForm" [formGroup]="form" (ngSubmit)="send()" novalidate #myForm="ngForm" >

                        <div class="form-floating mb-3" [ngClass]=" { 'was-validated' : form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched) } ">
                          <input class="form-control" id="name" type="text" formControlName="name" required/>
                          <label for="name">Tu Nombre</label>
                          <div class="invalid-feedback">
                            Nombre requerido.
                          </div>
                        </div>

                        <div class="form-floating mb-3" [ngClass]=" { 'was-validated' : form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched) } ">
                          <input class="form-control" id="email" type="email" formControlName="email" required/>
                          <label for="email">Tu Email</label>
                          <div class="invalid-feedback">
                            Email requerido.
                          </div>
                        </div>

                        <div class="form-floating mb-3" [ngClass]=" { 'was-validated' : form.get('phone')?.invalid && (form.get('phone')?.dirty || form.get('phone')?.touched)  }">
                          <input class="form-control" id="phone" type="tel" formControlName="phone" required pattern="^[0-9]{1,11}$"/>
                          <label for="phone">Tu Teléfono</label>
                          <div class="invalid-feedback">
                            Teléfono requerido. Ej: 5694334334
                          </div>
                        </div>

                        <div class="form-floating mb-3" [ngClass]=" { 'was-validated' : form.get('subject')?.invalid && (form.get('subject')?.dirty || form.get('subject')?.touched) }" >
                          <input class="form-control" id="subject" type="text" formControlName="subject" required maxlength="150"/>
                          <label for="subject">Asunto</label>
                          <div class="invalid-feedback">
                            Asunto requerido.
                          </div>
                        </div>

                        <div class="form-floating mb-3" [ngClass]=" { 'was-validated' : form.get('message')?.invalid && (form.get('message')?.dirty || form.get('message')?.touched) }">
                          <textarea class="form-control" id="message" type="text" style="height: 10rem" formControlName="message" required maxlength="850"></textarea>
                          <label for="message">Mensaje</label>
                          <div class="invalid-feedback">
                            Mensaje requerido.
                          </div>
                        </div>
                      
                        <div class="d-grid">
                          <button class="btn btn-lg btn-info text-white" id="submitButton" type="submit">Enviar</button>
                        </div>
                      </form>
                      


                </div>
            </div>
        </div>


        <!-- Contact cards-->
        <!-- <div class="row gx-5 row-cols-2 row-cols-lg-4 py-5">
            <div class="col">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-chat-dots"></i>
                </div>
                <div class="h5 mb-2">Chat with us</div>
                <p class="text-muted mb-0">Chat live with one of our support specialists.</p>
            </div>
            <div class="col">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-people"></i></div>
                <div class="h5">Ask the community</div>
                <p class="text-muted mb-0">Explore our community forums and communicate with other users.</p>
            </div>
            <div class="col">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                        class="bi bi-question-circle"></i></div>
                <div class="h5">Support center</div>
                <p class="text-muted mb-0">Browse FAQ's and support articles to find solutions.</p>
            </div>
            <div class="col">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-telephone"></i>
                </div>
                <div class="h5">Call us</div>
                <p class="text-muted mb-0">Call us during normal business hours at (555) 892-9403.</p>
            </div>
        </div> -->
    </div>


</div>


<app-footer></app-footer>